<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donut.wxf60ce143ea0fd818">

    <application>

        <!-- 透明分享入口：不出现在最近任务里，处理完立即 finish -->
        <activity
            android:name=".ShareEntryActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>
